@model ASPNetApp.Models.ToDoImportanceViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="ToDo" asp-action="Index" method="get">
    <p>

        <select asp-for="Importance" asp-items="Model.Importance">
            <option value="">All</option>
        </select>

        Tache: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>

@foreach(var item in Model.toDos)
{

    <div class="col-md-3 classe">
        @Html.DisplayFor(modelItem => item.Title), @Html.DisplayFor(modelItem => item.Importance)
        <br>
        Du @Html.DisplayFor(modelItem => item.Date) au @Html.DisplayFor(modelItem => item.Deadline)
        <br>

        @Html.DisplayFor(modelItem => item.Content)
        <br>
        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
    </div>



}

